<body class = abtcolor>
<h2 class="animated bounceInLeft">About Us</h2>
<div class="abc">

<div class="social center-block">
  <a href="https://www.facebook.com/devmatch" class="link facebook" target="_parent"><span class="fa fa-facebook-square"></span></a>
  <a href="https://github.com/subhajit007" class="link github" target="_parent"><span class="fa fa-github-square"></span></a>
  <a href="https://www.linkedin.com/pub/subhajit-banerjee/b1/465/1a8" class="link linkedin" target="_parent"><span class="fa fa-linkedin"></span></a>
</div>
</div>
</body>