<body class = "bkg">
<div class="jumbotron text-center">
  <h1 class="animated zoomIn">Welcome to Dev Match</h1>
  <h3 class="animated flip">A membership site where entrepreneurs can meet developers.</h3>
</div>
</body>