<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <p>Hi there, you have received a message from the devmatch contact form. Reply back to that eamil, from <%= "#{ @name }, #{ @email }." %></p>
    <p><%= @body %></p>
  </body>
</html>