<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <p>We have received a message from the devmatch contact form. We will be in touch with you shortly, from <%= "#{ @name }, #{ @email }." %></p>
    <p><%= @body %></p>
  </body>
</html>