<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <p>Hi there, we have received a message from the devmatch contact form. We will be in touch with you shortly. Please do not reply to this email. Thnak you, from <%= "#{ @name }, #{ @email }." %></p>
    <p><%= @body %></p>
  </body>
</html>